<div class="zebraFour" id="zebraFour">

  <div class="card-user-profile">
    <div class="card-user-profile-content card-section">
      <div class="card-user-profile-avatar">
      </div>
      <p class="card-user-profile-name">404: You've reached the wrong type of horse.</p>
      <p class="card-user-profile-info"></p>
    </div>

    <div class="card-user-profile-actions">
    </div>
  </div>
  <div class="zebraCage" id="zebraCage">
    <img id="zebra" src="/images/hiclipart.com.png" alt="Italian Trulli">
  </div>

  <div class="four-slider-full" id="scrollButton" data-magellan data-threshold="0">
    <a href="/">
      <img id="four-slider" src="/images/zebruh.png" alt="home" height="50" width="50">
    </a>
  </div>

</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="/styles/animate.css">
<script src="/js/frontend.js"></script>