<div class="container">

    <h2 id="contact-failure-message">We're sorry, but there was a problem with your form submission. <br>
        You may email us at stablemanager@hiddentimberfarm.com or call us at 123-456-7890.
    </h2>

    <img id="contact-failure-image" src="/images/3-ponies.jpg" />

    <div class="nav" id="nav">
        <div class="navIn" id="navIn">
            <div class="navOut" id="navOut">
                <ul class="menu menu-hover-lines">
                    <div class="navHome">
                        <li class=""><a href="#">Home</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>