<div class="container">
    <img id="contact-us-image" src="/images/boarding-options.jpg" />
    <h3>Contact Hidden Timber Farm</h3>

    <form class="validateForm">
        <div class="style">
            <label for="first"> First Name</label>
            <input type="text" id="first" name="first">
        </div>
        <div class="style">
            <label for="last"> Last Name</label>
            <input type="text" id="last" name="last">
        </div>
        <div class="style">
            <label for="phone"> Phone Number</label>
            <input type="number" id="phone" name="phone">
        </div>
        <div class="style">
            <label for="email"> Email</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="style">
            <label for="message"> Brief Message (100 characters)</label>
            <maxlength="100">
            <textarea rows="4" cols="50" maxlength="100" id="message-to-farm" name="message"></textarea>
        </div>

         <button id="submit">SUBMIT</button>
        </form>
<br>
        <h5>Please allow a few business days for us to respond. Thank you.</h5>

</div>


<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="/js/contactUs.js"></script>
