<div class="container">
    <img id="contact-us-image" src="/images/boarding-options.jpg" />
    <h3>Contact Hidden Timber Farm</h3>

    <form class="validateForm" action="/contact" id="contact-form" method="post" role="form">
        <fieldset>
            <div class="style">
                <label for="name">Name*</label>
                <input id="name" name="name" type="text" placeholder="Your first and last name" required>

                <label for="email">Email*</label>
                <input id="email" name="email" type="text" placeholder="Your email" required>

                <label for="phone">Phone Number*</label>
                <input type="text" id="phone" placeholder="123-456-7890" name="phone" required>

                <label for="message"> Brief Message*</label>
                <textarea id="message" name="message" placeholder="Enter your message to Hidden Timber Farm here"
                    rows="3" required></textarea>

                <input type="submit" id="contact-send-button" value="Send">
                <input type="reset" id="contact-clear-button" value="Clear">
        </fieldset>
    </form>
    <h6>*Required fields</h6>

    <h5>Please allow a few business days for us to respond. Thank you.</h5>

</div>