<div class="container" id="contactFailureBG">
    <p style="line-height: 100%;">
        <br>
    </p>
    <div id="contact-failure-message-box">
    <h3 id="contact-failure-message">There was a problem with your form submission. <br>
        You may email us at <br>
        stablemanager@hiddentimberfarm.com <br>
        or call us at 123-456-7890.
    </h3>
</div>

    <div class="nav" id="nav">
        <div class="navIn" id="navIn">
            <div class="navOut" id="navOut">
                <ul class="menu menu-hover-lines">
                    <div class="navHome">
                        <li class=""><a href="#">Home</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>