<div class="container">
    <img id="contact-us-image" src="/images/boarding-options.jpg" />
    <h3>Contact Hidden Timber Farm</h3>

    <form class="validateForm">
        <div class="style">
            <label for="name">Name*</label>
            <input type="text" id="name" placeholder="Your first and last name here" name="name">
        </div>
        <div class="style">
            <label for="email">Email*</label>
            <input type="email" id="email" placeholder="mail@sample.com" name="email">
        </div>
        <div class="style">
            <label for="phone">Phone Number*</label>
            <input type="number" id="phone" placeholder="1234567890" name="phone">
        </div>
        <div class="style">
            <label for="requestCall">Request Phone Call:</label>
            <h5>Yes:<input type="checkbox" value="Yes" name="call"><br />
                No: <input type="checkbox" value="No" name="call"><br /></h5>
        </div>
        <div class="style">
            <label for="message"> Brief Message (100 characters)*</label>
            <maxlength="100">
                <textarea name="message" rows="6" cols="25"
                    placeholder="Type your message to Hidden Timber Farm here"></textarea><br />
                </maxlength>
        </div>
        <h6>*Required field</h6>

        <input type="submit" id="contact-send-button" value="Send">
        <input type="reset" id="contact-clear-button" value="Clear">
    </form>
    <br>

    <h5>Please allow a few business days for us to respond. Thank you.</h5>

</div>


<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="/js/contactUs.js"></script>