<div class="edit-owner-page">
    <div class="edit-owner">
        <h3>Stable Manager Edit Owner Data</h3>
        <form 
        {{!-- class="validateForm" --}}
        >
                <div class="style">
                    <label for="first"> First Name</label>
                    <input type="text" id="first" name="first">
                </div>
                <div class="style">
                    <label for="last"> Last Name</label>
                    <input type="text" id="last" name="last">
                </div>
                <div class="style">
                    <label for="phone"> Phone Number</label>
                    <input type="number" id="phone" name="phone">
                </div>
                <div class="style">
                    <label for="email"> Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="style">
                    <label for="street">Street</label>
                    <input type="text" id="street" name="street">
                </div>
                <div class="style">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="style">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state">
                </div>
                <div class="style">
                    <label for="zip">Zip</label>
                    <input type="number" id="zip" name="zip">
                </div>
                <div class="style">
                    <label for="horse">Number Horses</label>
                    <input type="number" id="horse" name="horse">
                </div>
                <div class="style">
                    <label for="tp">Trailer Parking</label>
                    <select name="tp" id="tp">
                        <option value=""> Select Option</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <button id="button-edit">Submit</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="/js/owners.js"></script>