<div class="container">
    <h1>Stable Manager Input Horse's Data</h1>
    <form class="validateForm">
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="barn">Barn Name</label><br>
        <input type="text" id="barn" name="barn"><br>

        <label for="sex">Sex</label><br>
        <input type="text" id="sex" name="sex"><br>
        {{!-- radio button 3 options --}}

        <label for="breed">Breed</label><br>
        <input type="text" id="breed" name="breed"><br>

        <label for="color">Color</label><br>
        <input type="text" id="color" name="color"><br>

        <label for="description">Description</label><br>
        <input type="text" id="description" name="description"><br>

        <label for="chipped">Chipped</label><br>
        <input type="text" id="chipped" name="chipped"><br>
        {{!-- radio button yes or no --}} 

        <label for="tattooed">Tattooed</label><br>
        <input type="text" id="tattooed" name="tattooed"><br>
        {{!-- radio button yes or no --}}

        <label for="vet">Preferred Veterinarian</label><br>
        <input type="text" id="vet" name="vet"><br>

        <label for="farrier">Preferred Farrier</label><br>
        <input type="text" id="farrier" name="farrier"><br>

        <label for="date">Vaccination Date</label><br>
        <input type="date" id="date" name="date"><br>

        <label for="type">Vaccination Type</label><br>
        <input type="text" id="type" name="type"><br>

        <label for="in">Move In Date</label><br>
        <input type="date" id="in" name="in"><br>
        
        <label for="stall">Stall Assignment</label><br>
        <input type="text" id="stall" name="stall"><br>

        <label for="quarantine">Quarantine</label><br>
        <input type="text" id="quarantine" name="quarantine"><br>
        {{!-- radio button yes or no --}}

        <label for="out">Move Out Date</label><br>
        <input type="date" id="out"><br>
        {{!-- shouldn't be required --}}
 
        <label for="owner">Owner Id</label><br>
        <input type="text" id="owner" name="owner"><br>

        <button id="submit">Submit</button>
    </form>

    {{!-- stable manager is able to update and delete horse's data --}}
    {{!-- try to show the horse's data base on owners --}}


    {{!-- <ul id="horses-list" class="list-group">
        {{#each horses}}
            <li data-id="{{this.id}}" class="list-group-item">
                <a href="horse/{{this.id}}">{{this.name}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
        {{/each}}
    </ul> --}}
</div>


<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/horses.js"></script>