<div class="container">
    <h2 id="event-header">Upcoming Events and Appointments <br>
    for Horse Owners</h2>
    <br>
    <br>
    <div class="grid-x grid-padding-x align-center-middle text-center" style="height: 200px;">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/origami_money_horse.jpg" alt="money horse" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h4>Board Payment Due</h4>
                    <p>1st of every month</p>
                    <p>Late fees begin the following day</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/horseshoe-with-nails-hammered-in-place.jpg" alt="horseshoe"
                        style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h4>Farrier Day</h4>
                    <p>with Jeff Miller</p>
                    <p>Friday, January 31, 2020</br>
                        starting at Noon</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/horse-vaccination.jpg" alt="vaccination" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h4>Vet Day</h4>
                    <p>Spring vaccinations with <br>Jeanie Hauser, DVM</p>
                    <p>Friday, March 13, 2020<br>
                        starting at Noon</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/bonfire.jpeg" alt="bonfire" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h4>Hidden Timber Farm Bonfire</h4>
                    <p>Join your barn friends for a bonfire.<br> Smores provided.</p>
                    <p>Friday, February 21, 2020, 6 to 9 p.m.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 id="event-header">Questions? <br>
    Contact the Stable Manager</h2>