<div class="container">
    <h2 id="event-header">UPCOMING EVENTS & APPOINTMENTS<br>
    for Horse Owners</h2>
    <br>
    <br>
    <div class="grid-x grid-padding-x align-center-middle text-center" style="height: 200px;">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/origami_money_horse.jpg" alt="money horse" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h3>Board Payment Due</h3>
                    <h6>1st of every month</h6>
                    <h6>Late fees begin the following day</h6>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/horseshoe-with-nails-hammered-in-place.jpg" alt="horseshoe"
                        style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h3>Farrier Day</h3>
                    <h6>with Jeff Miller<h6>
                    <h6>Friday, January 31, 2020</br>
                        starting at Noon</h6>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/horse-vaccination.jpg" alt="vaccination" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h3>Vet Day</h3>
                    <h6>Spring vaccinations with <br>Jeanie Hauser, DVM</h6>
                    <h6>Friday, March 13, 2020<br>
                        starting at Noon</h6>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/bonfire.jpeg" alt="bonfire" style="width:300px;height:200px;">
                </div>
                <div class="flip-card-back">
                    <h3>Hidden Timber Farm Bonfire</h3>
                    <h6>Join your barn friends for a bonfire.<br> Smores provided.</h6>
                    <h6>Friday, February 21, 2020, 6 to 9 p.m.</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 id="event-header">Questions? <br>
    Contact the Stable Manager</h2>

  <div class="nav" id="nav">
      <ul class="menu menu-hover-lines">
        <div class="navIn" id="navIn">
          {{!-- <ul class="menu menu-hover-lines">
            <li><a href="#"> Contact Us | </a></li>
            <li><a href="#"> Log In </a></li>
          </ul>
        </div> --}}

        <div class="navOut" id="navOut">
          <ul class="menu menu-hover-lines">
            <div class="navHome">
              <li class=""><a href="#">Home | </a></li>

            </div>
            {{!-- <div class="navService">
              <li><a href="#">Services- </a></li>

            </div> --}}
            {{!-- <div class="navContact">
              <li><a href="#">Contact- </a></li> --}}

            <div class="navLogOut">
              <li><a href="#"> Log Out</a></li>

            </div>
          </ul>
        </div>
    </div>
  </div>

</div>