<div class="container" id="owner-landing-page-background">

    <div id="event-header">
        <p> UPCOMING EVENTS & APPOINTMENTS<br>
            for Horse Owners</p> 
    </div>

    <div class="grid-x grid-padding-x align-center-middle text-center flip-card-box">

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/origami_money_horse.jpg" alt="money horse" class="flip-images">
                </div>
                <div class="flip-card-back">
                    <h3>Board Payment Due</h3>
                    <h6>1st of every month</h6>
                    <h6>Late fees begin the following day</h6>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/horseshoe-with-nails-hammered-in-place.jpg" alt="horseshoe" class="flip-images">
                </div>
                <div class="flip-card-back">
                    <h3>Farrier Day</h3>
                    <h6>with Jeff Miller<h6>
                            <h6>Friday, January 31, 2020</br>
                                starting at Noon</h6>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/horse-vaccination.jpg" alt="vaccination" class="flip-images">
                </div>
                <div class="flip-card-back">
                    <h3>Vet Day</h3>
                    <h6>Spring vaccinations with <br>Jeanie Hauser, DVM</h6>
                    <h6>Friday, March 13, 2020<br>
                        starting at Noon</h6>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/bonfire.jpeg" alt="bonfire" class="flip-images">
                </div>
                <div class="flip-card-back">
                    <h3>Farm Bonfire</h3>
                    <h6>Join your barn friends for a bonfire.<br> Smores provided.</h6>
                    <h6>Friday, February 21, 2020, 6 to 9 p.m.</h6>
                </div>
            </div>
        </div>

        <div>
            <p id="owner-questions-message">Questions? <br>
                Contact the Stable Manager</p>
        </div>
    </div>


    
</div>
<div class="nav" id="nav">
    <ul class="menu menu-hover-lines">
        <div class="navIn" id="navIn">
            <div class="navOut" id="navOut">
                <ul class="menu menu-hover-lines">
                    <div class="navLogOut">
                        <li id="nav-margin"><a href="/">Log Out</a></li>
                        {{!-- <li><button id="btn-logout" onclick="logout()" style="color: white;"> LOG OUT</button></li> --}}
                    </div>
                </ul>
            </div>
        </div>
    </ul>
</div>

<script src="/js/auth.js"></script>
