<div class="container">
    <h1>{{msg}} Please enter your information.</h1>
    <form class="validateForm">
        <label for="first"> First Name</label><br>
        <input type="text" id="first" name="first"><br>

        <label for="last"> Last Name</label><br>
        <input type="text" id="last" name="last"><br>

        <label for="phone"> Phone Number</label><br>
        <input type="number" id="phone" name="phone"><br>

        <label for="email"> Email</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="street">Street</label><br>
        <input type="text" id="street" name="street"><br>

        <label for="city">City</label><br>
        <input type="text" id="city" name="city"><br>

        <label for="state">State</label><br>
        <input type="text" id="state" name="state"><br>

        <label for="zip">Zip</label><br>
        <input type="number" id="zip" name="zip"><br>

        <label for="horse">Number Horses</label><br>
        <input type="number" id="horse" name="horse"><br>

        {{!-- radio button yes or no --}}    
        {{!-- <label>Trailer Parking</label><br>
        <input type="radio" name="radio" value=true>Yes
        <input type="radio" name="radio" value=false>No<br> --}}

        <label for="tp">Trailer Parking</label><br>
        <select name="tp" id="tp">
            <option value=""> Select Option</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select> <br>
        <button id="submit">Submit</button>
    </form>
    
</div>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="/js/owners.js"></script>
