body {
    background: white;
}

input, select {
    max-width: 500px;
    width: 100%;
    margin: 0;
}
label {
    font-size: large;
}
.container {
    padding: 2.5rem;
}
.error {
    font-size: medium;
    color: red;
    margin: 0;
    padding: 0;
}
.style {
    margin-bottom: 15px;
}
#submit {
    border: 1px solid black;
    padding: 8px;
}
