.list-group-item {
  line-height: 2.5;
}
/* Intro Page CSS */

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("/images/introbg.jpg") center center no-repeat;
  background-size: cover;
}

.middle-content-section.center {
  align-self: center
}

.hero-full-screen .middle-content-section {
  text-align: left;
  margin: 20px;
  padding: 0;
  width: 80%;
  top: 50%;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  align-items: center;
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

#scrollButton {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin: 0;
  padding: 0;
right: 0;
}

#home {
  top: 0;
}